# dependencies
node_modules/

# env files
.env
.env.local
.env.production

# logs
logs/
*.log

# build outputs
dist/
build/
frontend/dist/
.next/
coverage/

# OS files
.DS_Store
Thumbs.db
.vercel
*.tsbuildinfo
